---
---
@charset "utf-8";

header {
  justify-content: center;
  .title {
    display: none;
  }
}

.site-nav {
  width: 100%;
  flex: none;
}

.main-nav {
  display: flex;
  width: 100%;
  border: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}