<nav class="site-nav">
    <ol class="main-nav">
        {% assign pages = site.pages | sort: "order" %}
    
        {% for nav_page in pages %}
            {% if nav_page.tags contains "top" %}
                {% include nav_group.html page=nav_page %}
            {% endif %}
        {% endfor %}
</ol>
</nav>
<script defer>
    var subnavs = document.querySelectorAll("ol.sub-nav");
    for (var i = 0; i < subnavs.length; i++) {
        var subnav = subnavs[i];
        document.getElementsByClassName("site-nav")[0].appendChild(subnav.cloneNode(true));
    }
</script>