<nav class="site-nav">
    <ol class="main-nav">
        {% assign pages = site.pages | sort: "order" %}
    
        {% for nav_page in pages %}
            {% if nav_page.tags contains "top" %}
                {% include nav_group.html page=nav_page %}
            {% endif %}
        {% endfor %}
    </ol>
    {% comment %} This next section is only used for mobile site nav {% endcomment %}
    {% assign pages = site.pages | sort: "order" %}

    {% for nav_page in pages %}
        {% if nav_page.tags contains "top" and nav_page.tags != "top" %}
            {% include sub_nav_group.html page=nav_page %}
        {% endif %}
    {% endfor %}
</nav>