{% assign page_tags = include.page.tags | split: "," %}
{% case page_tags.size %}
{% when 1 %}
    <li><a class="page-link {% if include.page.url == page.url%}active{% endif%}" href="{{include.page.url}}">{{include.page.title}}</a></li>
{% else %}
    <li><a class="page-link {% if include.page.url == page.url%}active{% endif%}" href="{{include.page.url}}">{{include.page.title}}</a>
    {% for sub_tag in include.page.tags %}
        {% unless sub_tag == "top" %}
            <ol class="{{sub_tag}}">
                {% assign sub_pages = site.pages | where: "tags", sub_tag | sort: "order" %}

                {% for sub_page in sub_pages %}
                    {% include nav_group.html page=sub_page %}
                {% endfor %}
            </ol>
        {% endunless %}
    {% endfor %}
    </li>
{% endcase %}