nav ol {
  list-style-type: none;
  
  li {
    margin-bottom: 1em;
  }
  ol li:last-of-type {
    margin-bottom: 1.5em;
  }
}

nav ol ol {
  display: none;
  li {
    list-style-image: url("/images/arrow.gif");
  }
}

nav ol.active {
  display: inherit;
}

header .title {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
  .site-title {
    font-size: 38px;
  }
  
  .site-tagline {
    font-style: italic;
  }
}